* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--color-white);
    font-family: 'Open Sans', 'Lato', sans-serif;
}

:root {
    --background-color: #282A36;
    --color-white: white;
    --color-green: #50FA7B;
    --color-purple: #675ABF;
}

header {
    padding: 30px;
}

header img {
    width: 150px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

#menu li a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;

    margin: 0 15px;
}

#menu li a:hover {
    color: var(--color-green);
    transition: 200ms;
}

div, h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 40px;
}

h3 {
    color: var(--color-purple);
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.main img {
    max-width: 250px;
    max-height: 120px;
    border: 2px solid var(--color-green);
    border-radius: 50%;
}

.main p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 30px;
}

p {
    margin: 0 50px;
}

li a, li {
    color: var(--color-white);
    text-decoration: none;
    font-size: 18px;
    
    margin: 0 10px;
}

li a:hover {
    color: var(--color-green);
    transition: 200ms;
    text-decoration: 1px solid underline;
}

footer {
    margin-top: 45px;
}

/**** Media Queries ****/

@media (min-width: 769px) {
    #menu {
        display: flex;
    }
}

@media (max-width: 769px) {
    body {
        background-color: var(--background-color);
    }

    #menu {
        text-align: center;
		display: block;
    }

    #about {
        margin: 0 40px;
    }
}